# === WordPress Core ===
wp-admin/
wp-includes/

# === WordPress Config ===
wp-config.php
.htaccess
authorized_keys
local-xdebuginfo.php

# === WordPress Uploads ===
wp-content/uploads/

# === Logs ===
error_log
*.log

# === System & IDE Junk ===
.DS_Store
Thumbs.db
*.sql
*.sqlite
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# === Temporary / Mac Files ===
._*
